<html>
    <head>
 
        {% load bootstrap4 %} 
     
        {% bootstrap_css %}
     
        {% load static %} <!-- STATIC_URL -->
     
    </head>

    <body>

        {% bootstrap_javascript jquery='full' %}

        <h4>Detalles</h4>
 
<p><span class="txt_negrita">Nombre:</span> <br> {{object.nombre}}</p>
<p><span class="txt_negrita">Check In:</span> <br> {{object.checkIn}}</p>
<p><span class="txt_negrita">Check Out:</span> <br> {{object.checkOut}}</p>
 
<!-- Botón para volver a la vista principal (Home) -->
<a href="../" type="submit" class="btn btn-primary">Volver</a>

    </body>
</HTML>
